---
import { getCollection, render } from "astro:content";
import Layout from '../layouts/Layout.astro';

export async function getStaticPaths(){
    const articulos = await getCollection('articulos');
    return articulos.map((articulo) => ({
        params: { id: articulo.slug },
        props: { articulo }
    }));
}

const { articulo } = Astro.props;
const {data, slug} = articulo;
const { title, img } = data;

const { Content } = await render(articulo)

export const prerender = true
---

<Layout title={`${title} - Dev Books`}>
  <div class="flex flex-col md:flex-row gap-8 md:gap-12 justify-center mt-6">

    <aside class="flex flex-col items-center md:items-start gap-4">
      <a href='/' class="hover:underline opacity-70 text-white">← Volver atrás</a>
      <img
        transition:name={`img-${slug}`}
        class="rounded w-72 md:w-96 h-auto mx-auto md:mx-0"
        src={`/${img}`}
        alt={title}
      />
    </aside>

    <main class="max-w-3xl mt-6 md:mt-0 text-center md:text-left px-4">
      <h1 class="text-3xl md:text-6xl font-bold mb-4 text-white">{title}</h1>
      <div class="prose prose-invert text-white text-justify">
        <Content />
      </div>
    </main>
  </div>
</Layout>
