---
import type { CollectionEntry } from "astro:content";
import Layout from "../layouts/Layout.astro";

type CollectionKey = "articulos_primer" | "articulos_segundo" | "articulos_tercer";

interface Props {
  articulos: CollectionEntry<CollectionKey>[];
}

const { articulos } = Astro.props as Props;
---

<section aria-label="información">
  <div class="px-4 mx-auto max-w-screen-xl">
    <div class="grid gap-8 md:grid-cols-2">
      {
        articulos.map(articulo => {
          const { slug, data } = articulo
          const { title, img, description } = data

          return (
            <article class="flex flex-col md:flex-row items-center md:items-start bg-base-200 rounded-xl p-1">
              <a href={`/parcial/${articulo.collection}/${articulo.slug}/`} class="transition hover:scale-105">
                <img
                  transition:name={`img-${slug}`}
                  class="w-48 object-cover rounded-lg mx-auto md:mx-0 md:mr-5"
                  src={`/${img}`}
                  alt={title}
                />
              </a>

              <div class="mt-4 md:mt-0 text-center md:text-left">
                <h2 class="prose prose-invert mb-2 text-4xl font-bold leading-tight text-white">
                  {title}
                </h2>
                <p class="prose prove-invert text-1 text-gray-300">{description}</p>
              </div>
            </article>
          )
        })
      }
    </div>
  </div>
</section>
